@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
::-moz-selection{
    color: white;
    background-color: red;
}
::selection{
    color: white;
    background-color: red;
}
nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    height: 110px;
}
.logo{
    display: flex;
}
#initials{
    font-family:'Dancing Script', cursive;
    border-right: 3px solid black;
    font-size: 30px;
    padding: 10px 30px 10px 10px;
    margin: 10px;
}
#full-name-logo{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px 10px 0px;
    font-size: 21px;
    letter-spacing: 6px;
    margin: 10px;
}
.nav-links ul{
    list-style-type: none;
    display: flex;
}
.nav-links a{
    text-decoration:none;
    color: black;
    padding: 20px 30px;
    font-weight: bold;
    margin: 0 5px;
}
.nav-links a:hover{
    background-color: black;
    color: white;
    border-radius: 20px;
}
#contact{
    background-color: red;
    color: #fff;
    border-radius: 20px;
}
#contact:hover{
    background-color: transparent;
    color: red;
    transition: 0.5s;
    border: 2px solid red;
}
.menu{
    cursor: pointer;
    display: none;
}
#line1,#line2,#line3{
    width: 30px;
    height: 3px;
    background-color: black;
}
#line2{
    margin: 5px 0;
}

@media all and (max-width:940px){
    nav{
        padding: 10px 50px 10px 30px;
    }
    .menu{
        display: block;
    }
    .nav-links ul{
        padding: 50px 0 50px 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 109px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 15px;
    }
    .nav-links ul li{
        padding: 50px 0;
    }
    .nav-links a{
        text-decoration:none;
        color: black;
        padding: 25px 200px;
        font-weight: bold;
    }
    .nav-links{
        display: none;
        z-index: 999;
    }
    .active{
        display: block;
    }
}

@media all and (max-width:490px){
    nav{
        padding: 0 50px 10px 10px;
    }
    .nav-links a{
        padding: 25px 100px;
    }
    #initials{
        border-right: 2px solid black;
        font-size: 25px;
        padding: 10px 30px 10px 10px;
    }
    #full-name-logo{
        padding: 10px 10px 10px 0;
        font-size: 18px;
    }
}

.pocetna{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 250px;
}
.lijeva-strana{
    width: 50%;
}
.lijeva-strana h1{
    font-size: 45px;
}
.lijeva-strana p{
    margin: 30px 0 50px 0;
    font-size: 25px;
}
.desna-strana{
    border-radius: 50%;
    overflow: hidden;
}
.desna-strana img{
    border-radius: 50%;
}
#more{
    border: 2px solid red;
    background-color: transparent;
    color: red;
    padding: 20px 40px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
}
#more:hover{
    background-color: red;
    color: white;
    transition: 0.5s;
}
#NAME{
    color: rgb(173, 0, 0);
}
.socials{
    padding: 0 150px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials a{
    text-decoration: none;
    color: red;
    font-size: 40px;
    padding: 30px;
}
#mark-quote{
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
}